
.icon-phone:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-clock:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-location-outline:before { content: '\e806'; } /* '' */
.icon-left-open:before { content: '\e807'; } /* '' */
.icon-right-open:before { content: '\e808'; } /* '' */
.icon-menu:before { content: '\e809'; } /* '' */
.icon-truck:before { content: '\e80a'; } /* '' */
.icon-arrows-cw:before { content: '\e80b'; } /* '' */
.icon-headphones:before { content: '\e80c'; } /* '' */
.icon-lock:before { content: '\e80d'; } /* '' */
.icon-heart:before { content: '\e80e'; } /* '' */
.icon-star:before { content: '\e80f'; } /* '' */
.icon-tag:before { content: '\e810'; } /* '' */
.icon-calendar:before { content: '\e811'; } /* '' */
.icon-left-big:before { content: '\e812'; } /* '' */
.icon-right-big:before { content: '\e813'; } /* '' */
.icon-at:before { content: '\e814'; } /* '' */
.icon-eye:before { content: '\f082'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-percent:before { content: '\f295'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */
